<template>
  <div class="home">
    <div class="header">
      <van-tabs v-model="activeName"  @click="bcb()">
        <van-tab title="晚餐" name="a" to="/">
          <div class="siDer">
            <div class="sider">
            <van-sidebar v-model="activeKey" style="float: left;">
            <van-sidebar-item title="20  五  2"  to='/home/1'/>
            <van-sidebar-item title="21  六  2"  to='/home/2'/>
            <van-sidebar-item title="22  日  1"  to='/home/3' />
            <van-sidebar-item title="23  一  2"  to='/home/4'/>
            <van-sidebar-item title="24  二  2"  to='/home/5'/>
            <van-sidebar-item title="25  三  2"  to='/home/6'/>
            <van-sidebar-item title="26  四  2"  to='/home/7'/>
            <van-sidebar-item title="27  五  2"  to='/home/8'/>
            <van-sidebar-item title="28  六  2"  to='/home/9'/>
          </van-sidebar>
          </div>
          <div>
            <router-view/>
          </div>
          </div>
          </van-tab>
          <div>
           <van-tab title="午餐" name="b" to="/game" >
          <div class="siDer">
            <div class="sider">
            <van-sidebar v-model="activeKeys" style="float: left;">
            <van-sidebar-item title="20  五  2"  to='/game/1' @click="aca()"/>
            <van-sidebar-item title="21  六  2"  to='/game/2' @click="aca()"/>
            <van-sidebar-item title="22  日  1"  to='/game/3' @click="aca()"/>
            <van-sidebar-item title="23  一  2"  to='/game/4' @click="aca()"/>
            <van-sidebar-item title="24  二  2"  to='/game/5' @click="aca()"/>
            <van-sidebar-item title="25  三  2"  to='/game/6' @click="aca()"/>
            <van-sidebar-item title="26  四  2"  to='/game/7' @click="aca()"/>
            <van-sidebar-item title="27  五  2"  to='/game/8' @click="aca()"/>
            <van-sidebar-item title="28  六  2"  to='/game/9' @click="aca()"/>
          </van-sidebar>
          </div>
          <div>
            <router-view/>
          </div>
          </div></van-tab> 
          </div>
        
      </van-tabs>
    </div>

      <van-tabbar v-model="active">
        <van-tabbar-item icon="comment">菜单</van-tabbar-item>
        <van-tabbar-item icon="cart">订餐</van-tabbar-item>
        <van-tabbar-item icon="bag">更多</van-tabbar-item>
      </van-tabbar>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data() {
    return {
      active: 0,
      activeName: 'a',
      activeKey: 0,
      activeKeys:0,
    };
  },
    created () {
                // localStorage.setItem('zheng', this.str);
                const data2 = localStorage.getItem('zheng');
                this.activeKey=data2
                const data1 = localStorage.getItem('activeKeys');
                this.activeKeys=data1
                const datas = localStorage.getItem('activeName');
                this.activeName=datas
                // this.$forceupdate();
    },
    updated(){
        localStorage.setItem('activeKeys', this.activeKeys);
    },
    methods:{
      aca(){
        localStorage.setItem('activeKeys', this.activeKeys);
      },
      bcb(){
         localStorage.setItem('activeName', this.activeName);
         if(this.activeKeys!=0){
           this.activeKeys=0
         }
        if(this.activeKey!=0){
           this.activeKey=0
         }
      }
    },
  components: {
  }
}
</script>
<style lang="less" scoped>
.home{
  display: flex;
}
.header{
  flex: 1;
}
.siDer{
  width: 100%;
  height: 100%;
  // background: red;
}
.sider{
  height: 100%;
  background: #ccc;
  width: 30%;
}
</style>