<template>
    <div class="header">
        <div class="handx">
            <div class="handxs" v-for="item in obj" :key="item.id">
                <div class="handxss" style="width:200px;height:200px;"><img :src="item.url" /></div> 
                <div>{{item.shuC}}</div>
                <div>{{item.xiang}}</div>
            </div>
        </div>
    </div>
</template>
<script>
export default{
    data(){   
        return{
            obj:[{
                id:0,  
                url:"https://img.51miz.com/Element/00/86/79/22/b94ec1a4_E867922_3889b52f.png",
                shuC:"青菜",
                xiang:"时蔬 蒜蓉清炒"
            },{
                id:1,
                url:"https://img.51miz.com/Element/00/86/79/22/b94ec1a4_E867922_3889b52f.png",
                shuC:"汤",
                xiang:"龙骨或鸡骨汤"
            },
            ],
            str:0
        }
    },
     created () {
                        localStorage.setItem('zheng', this.str);
                    },
                        updated(){
      localStorage.removeItem('zheng');
    },
}
</script>
<style lang="less" scoped>
    .header{
        width: 100%;
        height: 81vh;
        // background: yellow;
    }
    .handx{
        width: 100%;
        height: 100%;
    }
    .handxs{
        width: 100%;
        height: 50%;
        // text-align: center;
        // padding-top: 100px;
    }
    .handxs>div{
        padding-left: 50px;
        width: 200px;
        font-size: 16px;
        margin: 0 auto;
        text-align: center;
    }
    .handxss>img{
     width: 100%;
     height: 100%;

    }
</style>