<template>
    <div class="header">
        <div class="handx">
            <div class="handxs" v-for="item in obj" :key="item.id">
                <div class="handxss" style="width:200px;height:200px;"><img :src="item.url" /></div> 
                <div>{{item.shuC}}</div>
                <div>{{item.xiang}}</div>
            </div>
        </div>
    </div>
</template>
<script>
export default{
    data(){
        return{
            obj:[{
                id:0,
                url:"https://th.bing.com/th/id/R.d22c2c98a6d63b0310f920039aefb161?rik=88r7v9b6E5CjIQ&riu=http%3a%2f%2fpic20.photophoto.cn%2f20110818%2f0017029526027452_b.jpg&ehk=NZV%2bA6kcZU%2fj1mWeZio4sqMis2CkzdOfGRATlCgYYyc%3d&risl=&pid=ImgRaw&r=0",
                shuC:"青菜",
                xiang:"时蔬 蒜蓉清炒"
            },{
                id:1,
                url:"https://th.bing.com/th/id/R.d22c2c98a6d63b0310f920039aefb161?rik=88r7v9b6E5CjIQ&riu=http%3a%2f%2fpic20.photophoto.cn%2f20110818%2f0017029526027452_b.jpg&ehk=NZV%2bA6kcZU%2fj1mWeZio4sqMis2CkzdOfGRATlCgYYyc%3d&risl=&pid=ImgRaw&r=0",
                shuC:"汤",
                xiang:"龙骨或鸡骨汤"
            },
            
            
            ],
            str:4
        }
    },
     beforeMount () {
                localStorage.setItem('zheng', this.str);
            },
}
</script>
<style lang="less" scoped>
    .header{
        width: 100%;
        height: 81vh;
        // background: yellow;
    }
    .handx{
        width: 100%;
        height: 100%;
    }
    .handxs{
        width: 100%;
        height: 50%;
        // text-align: center;
        // padding-top: 100px;
    }
    .handxs>div{
        padding-left: 50px;
        width: 200px;
        font-size: 16px;
        margin: 0 auto;
        text-align: center;
    }
    .handxss>img{
     width: 100%;
     height: 100%;

    }
</style>