<template>
    <div class="header">
        <div class="handx">
            <div class="handxs" v-for="item in obj" :key="item.id">
                <div class="handxss" style="width:200px;height:200px;"><img :src="item.url" /></div> 
                <div>{{item.shuC}}</div>
                <div>{{item.xiang}}</div>
            </div>
        </div>
    </div>
</template>
<script>
export default{
    data(){
        return{
            obj:[{
                id:0,
                url:"https://th.bing.com/th/id/R.2f3a9e14f2c568ab6866f02a59b18057?rik=JnOC12MM65hdcw&riu=http%3a%2f%2fpic.616pic.com%2fbg_w1180%2f00%2f22%2f15%2fgduZ9zVpDM.jpg!%2ffw%2f1120&ehk=wEsqqWoXo%2fbI0n%2bH4VkCavldgOz8cZarTtK9RsNDh58%3d&risl=&pid=ImgRaw&r=0",
                shuC:"青菜",
                xiang:"时蔬 蒜蓉清炒"
            },{
                id:1,
                url:"https://th.bing.com/th/id/R.2f3a9e14f2c568ab6866f02a59b18057?rik=JnOC12MM65hdcw&riu=http%3a%2f%2fpic.616pic.com%2fbg_w1180%2f00%2f22%2f15%2fgduZ9zVpDM.jpg!%2ffw%2f1120&ehk=wEsqqWoXo%2fbI0n%2bH4VkCavldgOz8cZarTtK9RsNDh58%3d&risl=&pid=ImgRaw&r=0",
                shuC:"汤",
                xiang:"龙骨或鸡骨汤"
            },
            
            
            ],
            str:6
        }
    },
     beforeMount () {
                localStorage.setItem('zheng', this.str);
            },
}
</script>
<style lang="less" scoped>
    .header{
        width: 100%;
        height: 81vh;
        // background: yellow;
    }
    .handx{
        width: 100%;
        height: 100%;
    }
    .handxs{
        width: 100%;
        height: 50%;
        // text-align: center;
        // padding-top: 100px;
    }
    .handxs>div{
        padding-left: 50px;
        width: 200px;
        font-size: 16px;
        margin: 0 auto;
        text-align: center;
    }
    .handxss>img{
     width: 100%;
     height: 100%;

    }
</style>